    header {
        display: flex;
        justify-content: center;
        background-color: black;
    }

        .home-link {
        color: greenyellow;
        text-decoration: none;
        padding-top: 25px;
        font-weight: bold;
        position: absolute;
        right: 40px;
    }